// Import Google font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

// Color list
$color-navy-blue:#34495e;
$color-violet:#9b59b6;
$color-blue:#3498db;
$color-green:#62cb31;
$color-yellow:#ffb606;
$color-orange:#e67e22;
$color-red:#e74c3c;
$color-red-deep:#c0392b;

// Additional colors
$color-text: #6a6c6f;
$color-bright: #f7f9fa;
$color-background: #f1f3f6;
$color-background-boxed: lighten($color-background, 3%);
$border-color: #e4e5e7;

// Additional variables
$menu-width: 180px;
$main-transition: all 0.1s ease-out 0s;


// Import all styles
@import "margins";
@import "alerts";
@import "modal";
@import "progress_bar";
@import "login";
@import "timeline";
@import "contact";
@import "calendar";
@import "text_editor";
@import "grid";
@import "dropdown";
@import "chat";
@import "various";
@import "buttons";
@import "fonts";
@import "icheck";
@import "layout";
@import "lists";
@import "panels";
@import "tabs";
@import "tooltip";
@import "projects";
@import "social_board";
@import "nestable_list";
@import "tour";
@import "blog";
@import "forum";
@import "mailbox";
@import "loader";

// Styles for landing page
@import "landing";